<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--  Spring的配置文件，主要配置和业务逻辑有关的  -->

    <bean id="aopService" class="com.kiligz.test.aop.AopService"/>

    <bean class="com.kiligz.aop.framework.autoproxy.DefaultAdvisorAutoProxyCreator"/>

    <bean id="pointcutAdvisor" class="com.kiligz.aop.aspectj.AspectjExpressionPointcutAdvisor">
        <property name="expression" value="execution(* com.kiligz.test.aop.AopService.*(..))"/>
        <property name="advice" ref="methodInterceptor" />
    </bean>

    <bean id="methodInterceptor" class="com.kiligz.aop.framework.adapter.MethodBeforeAdviceInterceptor">
        <property name="advice" ref="beforeAdvice"/>
    </bean>

    <bean id="beforeAdvice" class="com.kiligz.test.aop.AopServiceBefore"/>

    <bean class="com.kiligz.test.aop.ContextRefreshedEventListener"/>
    <bean class="com.kiligz.test.aop.ContextClosedEventListener"/>
</beans>